@model IEnumerable<NaseSlovoApp.Models.Korisnik>

@{
    ViewBag.Title = "Index";
    string text = "";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumRod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spol)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumRod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spol)
        </td>
        <td>
            @if (item.Autor)
            {
                text = "Makni status autora";
            }
            else
            {
                text = "Dodijeli status autora";
            }
            @Html.ActionLink(text, "DodijeliAutora", "Korisnici", new { id = item.KorisnikID }, null)
        </td>
    </tr>
}

</table>

