@model IEnumerable<NaseSlovoApp.Models.Knjiga>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid text-center">
        <div class="col-sm-8 page-content">

            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default panel-horizontal">
                            <div class="panel-body">
                                <div>
                                    <img class="profile-small" src="https://placekitten.com/50/60">
                                    <a href="#">@Html.DisplayFor(modelItem => item.Autori)</a>
                                    <span class="date">@Html.DisplayFor(modelItem => item.Godina)</span>
                                    <span class="date">@Html.DisplayFor(modelItem => item.Izdavac)</span>
                                    <span class="date">@Html.DisplayFor(modelItem => item.Signatura)</span>
                                </div>
                                <div>
                                    <a class="panel-title" href="#">@Html.DisplayFor(modelItem => item.Naslov)</a>
                                </div>

                                <button type="button" class="btn btn-outline btn-primary">@Html.DisplayFor(modelItem => item.Vrsta.Naziv)</button>
                                <hr>

                            </div>
                            <div class="panel-footer">
                                <span class="score">@Html.DisplayFor(modelItem => item.SrednjaOcjena)/10</span>
                            </div>

                            @if (User.IsInRole("Clan"))
                            {
                                <div>
                                    <!-- ovdje idu ocjene -->
                                    @using (Html.BeginForm("Create", "OcjeneKnjiga", FormMethod.Post, new { id = "Form Name" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.Hidden("KnjigaID", @Html.DisplayFor(modelItem => item.KnjigaID));

                                        <div class="form-group">
                                            Ocjena
                                            <div class="col-md-10">
                                                @Html.DropDownList("Ocjena", new List<SelectListItem>
                 {
                    new SelectListItem{ Text="1", Value = "1" },
                    new SelectListItem{ Text="2", Value = "2" },
                    new SelectListItem{ Text="3", Value = "3" },
                    new SelectListItem{ Text="4", Value = "4" },
                    new SelectListItem{ Text="5", Value = "5" },
                    new SelectListItem{ Text="6", Value = "6" },
                    new SelectListItem{ Text="7", Value = "7" },
                    new SelectListItem{ Text="8", Value = "8" },
                    new SelectListItem{ Text="9", Value = "9" },
                    new SelectListItem{ Text="10", Value = "10" }
                 }, htmlAttributes: new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" class="btn btn-default" value="Ocijeni" />
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>

                    </div>
                </div>
            }


        </div>
    </div>
</div>
<script type="text/javascript">

  var element_position = $('.sideright').offset().top;
  var is_fixed = false;
  $('#close-not').click(function () {
    $('.navbar-notification').remove();
  });

  $(window).on('scroll', function() {
      var y_scroll_pos = window.pageYOffset;
      var scroll_pos_test = element_position;

      if(y_scroll_pos > scroll_pos_test && is_fixed == false) {


          $('.side-fixed-off').attr('class','side-fixed');
          is_fixed = true;

      }
      if(y_scroll_pos < scroll_pos_test && is_fixed == true) {
          $('.side-fixed').attr('class','side-fixed-off');
          is_fixed = false;
      }
  });

</script>

